.bubble {
  width: 100%;
}

.bubble-content {
  max-width: 600px;
  display: inline-block;
  padding: 12px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.bubble-content:first-letter {
  text-transform: uppercase;
}

.bubble-content {
  margin-right: 25%;
  background-color: var(--background);
  color: var(--color);
  position: relative;
}
